Repository OrJDev/solid-auth, pull requests merged in 2022-12, with the labels that each got.

#8 feat(socials): add Strava as OAuth provider
  .changeset/dry-gorillas-shake.md
  packages/socials/README.md
  packages/socials/src/index.ts
  packages/socials/src/strava.ts
Labels: 🔑 socials

#11 feat(socials): add Strava as OAuth2 provider
  .changeset/young-jars-hunt.md
  packages/socials/README.md
  packages/socials/src/index.ts
  packages/socials/src/strava.ts
Labels: 🔑 socials

#13 don't export all providers in 1 file
  .changeset/old-bikes-poke.md
  examples/prisma-socials/src/server/auth.ts
  packages/core/README.md
  packages/socials/README.md
  packages/socials/package.json
  packages/socials/src/index.ts
  packages/socials/tsup.config.js
  tsup.config.js
Labels: 🔑 socials, 🔒 core

#14 fix: commonjs error
  packages/socials/package.json
Labels: 🔑 socials

#17 revert latest changes
  examples/prisma-socials/src/server/auth.ts
  packages/core/README.md
  packages/socials/README.md
  packages/socials/package.json
  packages/socials/src/index.ts
  packages/socials/tsup.config.js
  tsup.config.js
Labels: 🔑 socials, 🔒 core

#18 Allow null and undefined to be returned to strategies
  .changeset/ninety-dolls-explode.md
  examples/prisma-credentials/src/server/auth.ts
  packages/core/src/strategy.ts
Labels: 🔒 core

#20 downgrade peerDependencies core to 0.0.1
  .changeset/hot-emus-wonder.md
  packages/auth0/package.json
  packages/core/src/strategy.ts
  packages/credentials/package.json
  packages/oauth2/package.json
  packages/socials/package.json
Labels: 🔑 socials, 🔒 core, 🌐 oauth2, 💨 auth0, 💠 credentials

#32 fix(core|oauth2): remove the sessionStateKey from the session after the oauth2 state was verified
  .changeset/neat-months-collect.md
  package.json
  packages/core/src/strategy.ts
  packages/oauth2/src/index.ts
Labels: 🔒 core, 🌐 oauth2

#34 chore(core|oauth2): remove unnecessary code
  packages/core/src/strategy.ts
  packages/oauth2/src/index.ts
Labels: 🔒 core, 🌐 oauth2
